#gallery {
    padding-top: 40px;
    @media screen and (min-width: 991px) {
      padding: 60px 30px 0 30px;
    }
  }
  
  .img-wrapper {
    position: relative;
    margin-top: 15px;
    img {
      width: 100%;
    }
  }
  .img-overlay {
    background: rgba(0,0,0,0.7);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    i {
      color: #fff;
      font-size: 3em;
    }
  }
  
  #overlay {
    background: rgba(0,0,0,0.7);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
    -webkit-user-select: none;
    -moz-user-select: none;    
    -ms-user-select: none; 
    user-select: none; 
    img {
      margin: 0;
      width: 80%;
      height: auto;
      object-fit: contain;
      padding: 5%;
      @media screen and (min-width:768px) {
          width: 60%;
      }
      @media screen and (min-width:1200px) {
          width: 50%;
      }
    }
  }
  
  #nextButton {
    color: #fff;
    font-size: 2em;
    transition: opacity 0.8s;
    &:hover {
      opacity: 0.7;
    }
    @media screen and (min-width:768px) {
      font-size: 3em;
    }
  }
  
  #prevButton {
    color: #fff;
    font-size: 2em;
    transition: opacity 0.8s;
    &:hover {
      opacity: 0.7;
    }
    @media screen and (min-width:768px) {
      font-size: 3em;
    }
  }
  
  #exitButton {
    color: #fff;
    font-size: 2em;
    transition: opacity 0.8s;
    position: absolute;
    top: 15px;
    right: 15px;
    &:hover {
      opacity: 0.7;
    }
    @media screen and (min-width:768px) {
      font-size: 3em;
    }
  }
  /* whatsapp */
  a{
    text-decoration:none;
  }
  .floating_btn {
    position: fixed;
    bottom: 30px;
    right: 30px;
    width: 60px;
    height: 60px;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content:center;
    z-index: 1000;
  }
  
  @keyframes pulsing {
    to {
      box-shadow: 0 0 0 30px rgba(232, 76, 61, 0);
    }
  }
  
  .contact_icon {
    background-color: #42db87;
    color: #fff;
    width: 45px;
    height: 45px;
    font-size:30px;
    border-radius: 50px;
    text-align: center;
    box-shadow: 2px 2px 3px #999;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translatey(0px);
    animation: pulse 1.5s infinite;
    box-shadow: 0 0 0 0 #42db87;
    -webkit-animation: pulsing 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
    -moz-animation: pulsing 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
    -ms-animation: pulsing 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
    animation: pulsing 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
    font-weight: normal;
    font-family: sans-serif;
    text-decoration: none !important;
    transition: all 300ms ease-in-out;
  }
  
  
  .text_icon {
    margin-top: 8px;
    color: #707070;
    font-size: 13px;
  }
  img.logo {
    width: 70%;
}
.dark img.logo {
    width: 70%;
}
img.rahat {
  width: 60px;
}